{% extends 'CrudTemp/layout.html.twig' %}


{% block title %}CrudOperation{% endblock %}

{% block body %}
<div class="d-flex justify-content-end">
	<a  href="{{ path('app_crud_form') }}">Create new?</a>
</div>
    <h1>{{ translatedMessage |trans }}</h1>

	<div class="row">
		<div class="col-sm-12">
			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col">#ID</th>
						<th scope="col">Name</th>
                        <th scope="col">Gender</th>
						<th scope="col">Address</th>
                        <th scope="col">Course</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
                {% for item in datashow %}
                    <tr>
						<th scope="row">{{item.id}}</th>
						<td>{{item.name}}</td>
                        <td>{{item.age}}</td>
						<td>{{item.city}}</td>
                        <td> 
						{% for item in item.cource %}
							<span>{{item}},</span>
						{% endfor %}
						</td>
						<td>
							<a class="btn btn-secondary btn-sm"  href="{{ path('app_crud_edit', {'id': item.id}) }}">edit</a>
							<button type="button" id="del" class="btn btn-warning" data-item-id="{{item.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal" value="{{item.id}}">
								Delete
							</button>
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>	
<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Are you want to delete this user?	
					<a class="btn btn-warning btn-sm" href="" id="param">Delete</a>
				</div>	
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

 <script>
  $(document).ready(function(){
		var opener;
		$('.modal').on('show.bs.modal', function(e) {
			let opener = document.activeElement;
			var id = opener.value;
			console.log(id);
			var url = "http://127.0.0.1:8000/data?id=" + id;
			$('#param').attr('href', url);
		});
	});
</script>
{% endblock %}
